<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="page2.css" />
  </head>
  <body>
    <h1>Your Details</h1>
    <table>
      <tr>
        <th>Attribute</th>
        <th>Your Value</th>
        <th>Normal Range</th>
        </tr>
        <tr>
          <td>Age</td>
          <td></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td></td>
          <td>-</td>
        </tr>
        <tr>
          <td>Total Bilirubin</td>
          <td></td>
          <td>0.1-1.2 mg/dL</td>
        </tr>
        <tr>
          <td>Direct Bilirubin</td>
          <td></td>
          <td>0-0.4 mg/dL</td>
        </tr>
        <tr>
          <td>Alkaline Phosphatase</td>
          <td></td>
          <td>44-147 U/L</td>
        </tr>
        <tr>
          <td>Alanine Aminotransferase</td>
          <td></td>
          <td>7-56 U/L</td>
        </tr>
        <tr>
          <td>Aspartate Aminotransferase</td>
          <td></td>
          <td>5-40 U/L</td>
        </tr>
        <tr>
          <td>Total Proteins</td>
          <td></td>
          <td>6-8.3 g/dL</td>
        </tr>
        <tr>
          <td>Albumin</td>
          <td></td>
          <td>3.5-5.5 g/dL</td>
        </tr>
        <tr>
          <td>Albumin and Globulin Ratio</td>
          <td></td>
          <td>0.8-2.0</td>
        </tr>
        <tr>
          <td class="risk">Risk Level</td>
          <td class="risk" colspan="2"></td>
        </tr>
      </table>
      <input type="button" id="btnn" value="OK"/>
  </body>
</html>
